html, body
{
  height: 100%;
  margin: 0;
}

body
{
    background-image: url(backdrop.jpg);
    background-size: cover;
    text-align: center;
}

.header
{
	color: rgb(30, 12, 95);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background-image: url(book.jpg);
    background-size: cover;
    height: 550px;
    border-radius: 10px;
	float: none;
	width: 50%;
	text-align: center;
	
     
}
.style
{
	width: 50%;
	background-color: rgba(241, 245, 249, 0.636);
	text-align: right;
	border-radius: 10px;
	height: 550px;
	

}
#style
{
	
	font-family: 'Yeon Sung';
	text-align: center;
	background-color: rgba(36, 224, 224, 0.596) ;

}
.logo
{
	width: 80px;
	margin-top: 30px;
	border-radius: 40px;
	
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}

.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
#logout
{
	font-size: 20px; 
    float: right;
    margin-top: 10px;
}
.input_div_room_page
{
	width: 70%;
    
}
.container
{
    background-color: rgba(134, 187, 187, 0.508);
    width: 50%;
    height: 70%;
    padding-bottom: 80px;
    border-radius: 10px;
	margin-top: 125px;

}
#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}
